*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive;
    list-style: none;
    text-decoration: none;
}
html {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    position: relative;
}
body{
    background: rgb(24,19,140);
    background: -moz-linear-gradient(32deg, rgba(24,19,140,1) 3%, rgba(26,199,235,0.7091211484593838) 33%, rgba(219,230,158,1) 94%);
    background: -webkit-linear-gradient(32deg, rgba(24,19,140,1) 3%, rgba(26,199,235,0.7091211484593838) 33%, rgba(219,230,158,1) 94%);
    background: linear-gradient(32deg, rgba(24,19,140,1) 3%, rgba(26,199,235,0.7091211484593838) 33%, rgba(219,230,158,1) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18138c",endColorstr="#dbe69e",GradientType=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.preload{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
}
.preload.disable{
   display: none !important;
}

body.locked{
    overflow: hidden;
}
.preload img{
    display: block;
    max-width: 150px;
}
.newbg{
    background: rgb(0,0,0);
background: -moz-linear-gradient(40deg, rgba(0,0,0,1) 33%, rgba(13,244,214,0.7091211484593838) 71%, rgba(0,0,0,1) 97%);
background: -webkit-linear-gradient(40deg, rgba(0,0,0,1) 33%, rgba(13,244,214,0.7091211484593838) 71%, rgba(0,0,0,1) 97%);
background: linear-gradient(40deg, rgba(0,0,0,1) 33%, rgba(13,244,214,0.7091211484593838) 71%, rgba(0,0,0,1) 97%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.white-text-color{
    color: #fff !important;
    transition: all 0.5s;
} 
.black{
    transition: all 0.2s;
    background-color: #000 !important;
}

.black-text-color{
    transition: all 0.5s;
    color: #000 !important;
}
.wrapper{
    max-width: 1200px;
    margin: 20px auto;
}
.page-content{
    /* width: 100%; */
    display: flex;
    min-height: 800px;
}
/* LEFT-SIDE SECTION */
.left-side{
    background-color: rgb(35, 35, 63);
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    width: 40%;
    color: rgb(255, 255, 255);
}
.color-left-block{
    background-color: rgb(35, 35, 63);
}
/* .photo, .contact,
.education{
    width: 100%;
} */

/* PHOTO */
.photo{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.photo-container{
    height: 250px;
    position: relative;
}
.photo-container img{
    height: 100%;
}
.photo-container::before{
    content:'';
    position: absolute;
    z-index: 0;
    width: 92%;
    height: 92%;
    left: 10px;
    bottom: 10px;
    outline: 15px  solid #fff;
    border-radius: 50%;
}
/* CONTACT */
.contact,
.education{
    padding: 30px 10px 10px 10px;
}
.contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title,
.education-title
{
    font-size: 30px;
}
.contact-phone,
.contact-mail
{
    margin-top: 15px;
}
.contact-phone span,
.contact-mail span
{
    margin-right: 10px;
}
.contact-phone a,
.contact-mail a
{
    color: rgb(137, 240, 209);
    font-size: 18px;
}
.contact_social-link{
    margin-top: 30px;
}
.contact_social-link a svg{
    fill: rgb(137, 240, 209);
    transition: all .3s;
}
.contact_social-link a svg:hover{
    fill: rgb(206, 240, 153);
}
/* EDUCATION */
.education-container,
.education-list{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.education-list{
    padding: 10px;
}
.education-list_item{
    margin-top: 15px;
    font-size: 17px;
}

/* LEFT-SIDE SECTION  end*/

/* RIGHT-SIDE SECTION */

.right-side{
    width: 60%;
    padding: 30px 10px 10px 40px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

/* person-information */
.person-information{
    position: relative;
}
.person-information,
.skills{
    padding: 10px;
}
.person-information_container,
.person-information_container,
.skills-container{
    display: flex;
    flex-direction: column;
}
.person-information_container__first-title{
    font-size: 35px;
    --main-color: #000;
}
.person-information_container__second-title{
    margin-top: 15px;
    font-size: 25px;
}
.person-information_container__thirst-title{
    margin-top: 25px;
    font-size: 20px;
}
.person-information_container__text{
    margin-top: 10px;
    font-size: 17px;
}

/* SKILLS */

.skills_list{
    display: flex;
    flex-wrap: wrap;
}
/* person-works */
.person-works{
    padding: 10px;
    padding-bottom: 100px;
}

.person-works_container__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
    position: relative;
}
.person-works_container__list-item{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: example 2s ;
}
@keyframes example {
    from {transform: scale(0.5);
    opacity: 0;}
    to {transform: scale(1);
        opacity: 1;}
  }

.person-works_container__list-item  img{
    height: 100%;
}
.person-works_container__list-item:hover
.shadow
{
    opacity:1;
}
.shadow{
    transition: all .3s;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.person-works__btn-named{
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color: #313A6D;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.person-works_container-btn{
    margin-bottom: 10px;
    width: 200px;
    position: absolute;
    border-radius: 5px;
    border: 5px solid rgb(83, 104, 204);
    padding:15px 5px;
    transition: all .3s;
    font-size: 20px;
    font-weight: bolder;
    left: calc(50% - 100px);
    bottom: -100px;
    background-color: #fff;;
}
/* .normal{
    background-color: #fff ;
    color: #000;
} */
.person-works_container-btn:hover{
    cursor:pointer;
    transform: scale(1.05);

}
.person-works__btn-named img {
    height: 30px;
}
.person-works__btn-title{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(198, 241, 172);
    color: #000;
    width: 100%;
    padding: 2px 10px;
}
.person-works__btn-title img{
    width: 25px;
    height: 25px;

}
::-webkit-scrollbar{
    width: 0px;  
    background: transparent;  
}
.skills_list-item{
    position: relative;
}
.skills_list-item-info{
    opacity: 0;
    position: absolute;
    bottom: 40px;
    left: 5px;
    background-color: rgb(82, 109, 230);
    padding: 15px;
    font-size: 13px;
    text-align: center;
    border: 2px ;
    border-radius: 10px;
    min-width: 200px;
    border-bottom-left-radius: 0;
    color: #fff;
}
.skills_list-item-info::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    border: 10px solid transparent; border-left: 10px solid rgb(82, 109, 230); border-top: 10px solid rgb(82, 109, 230);
}
.modal{
    opacity: 1;
}
/* CHECKBOX */
#toggle_checkbox
{
    display: none;

}

label
{
    display: block;
    position: absolute;
    width: 116px;
    height: 56px;
    margin: 0 auto;
    background-color: #77b5fe;
    border-radius: 56px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
    z-index: 99;
}

#star
{
    position: absolute;
    top: 13px;
    left: 13px;
    width: 30px;
    height: 30px;
    background-color: #fafd0f;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
}

#star-1
{
    position: relative;
}

#star-2
{
    position: absolute;
    transform: rotateZ(36deg);
}

.star
{
    top: 0;
    left: -7px;
    font-size: 54px;
    line-height: 28px;
    color: #fafd0f;
    transition: 0.3s ease color;
}

#moon
{
    position: absolute;
    bottom: -52px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}

#moon:before
{
    content: "";
    position: absolute;
    top: -12px;
    left: -17px;
    width: 40px;
    height: 40px;
    background-color:#03a9f4;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label
{
    background-color: rgb(24, 28, 49);
}

#toggle_checkbox:checked + label #star
{
    top: 3px;
    left: 64px;
    transform: scale(0.3);
    background-color: yellow;
}

#toggle_checkbox:checked + label .star
{
    color: yellow;
}

#toggle_checkbox:checked + label #moon
{
    bottom: 8px;
}

#toggle_checkbox:checked + label #moon:before
{
    background-color: rgb(24, 28, 49);
}
/* CHECKBOX */

/* LangSwitcher */
.lang-switch-wrp{
    display: inline-block;
    border:  5px solid #5d9be2;
    background-color: #e0ec77;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    position: relative;
    min-width: 40px;
    min-height: 40px;
    transition: all .3s;
}
.lang-switch-wrp:hover{
    box-shadow: 0px 0px 8px 4px rgba(73,130,187,0.43);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(73,130,187,0.43);
    -moz-box-shadow: 0px 0px 8px 4px rgba(73,130,187,0.43);
}
.theme-switcher{
    margin: 5px;
}
.lang-switch-wrp_btn{
    font-weight: 700;
    color: #000 !important;
    font-size: 25px;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* LangSwitcher */
.wrapper-multy-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* RESPONSIVE */
@media screen and (max-width: 1150px) {

}


@media screen and (max-width: 960px) {
    .wrapper{
        margin-top: 0;
        margin-bottom: 0;
    }
    .person-works_container-title{
        text-align: center;
    }
    .skills_list-item-info{
        display: none;
    }
}
@media screen and (max-width: 803px) {
    .page-content{
        flex-direction: column;
    }
    .left-side{
        flex-direction: row;
        justify-content: space-around;
        order: 1;
        width: 100%;
    }
    .right-side{
        order: 0;
        width: 100%;
        padding: 0;
    }
    .photo{
        display: none;
    }
    .contact,
    .education{
        width: 50%;
    }
    .education-list_item{
        font-size: 15px;
    }
    .person-information_container{
        text-align: center;
    }
    .person-information{
       
        padding-top: 0;
    }
    .person-information_container__first-title,
    .person-information_container__second-title{
        margin-top: 10px;
    }
    .person-works_container__list{
        padding-bottom: 20px;
    }
    .skills-container{
        text-align: center;
    }
    .skills_list{
        justify-content: center;
    }

}

@media screen and (max-width: 650px) {
    .left-side{
        flex-direction: column-reverse;
    }
    .education, .contact{
        width: 100%;
        padding: 10px 0 15px 0;
    }
    label{

    display: block;
    position: static;
    right: 10%;
    width: 116px;
    height: 56px;
    margin: 50px auto 0;
    background-color: #77b5fe;
    border-radius: 56px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}

}
@media screen and (max-width: 425px) {
    .shadow{
        z-index: 2;
        opacity: 1;
    }
}